VITE_PUBLIC_APP_URL=https://app.glasstunnel.io
VITE_SIGNALING_URL=wss://signaling.glasstunnel.io/signal
VITE_CONVEX_URL=https://YOUR_DEPLOYMENT.convex.cloud
VITE_CONVEX_SITE_URL=https://YOUR_DEPLOYMENT.convex.site
