TURN_USER=glasstunnel
TURN_PASSWORD=change-me-please
TURN_REALM=glasstunnel.local
TURN_SERVER_NAME=glasstunnel.local

ACCOUNT_PLANE_PROVIDER=convex
ACCOUNT_AUTH_PROVIDER=convex
CONVEX_URL=https://YOUR_DEPLOYMENT.convex.cloud

VAPID_SUBJECT=mailto:ops@glasstunnel.local
